{% extends "layout.html" %}
{% block page_title %}Index{% endblock %}
{% block body %}
<div class="section" id="contact">
<h1>Contact</h1>
<p>Please contact us:</p>
<ul>
<li>By e-mail at <a href="mailto:team+janitor@tracker.debian.org">team+janitor@tracker.debian.org</a></li>
<li>On IRC in the <a class="reference external" href="irc://irc.oftc.net/#debian-janitor">#debian-janitor IRC channel on irc.oftc.net</a></li>
</ul>
</div>
{% endblock %}
