<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Debian Janitor &#8212; {% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="/_static/alabaster.css" type="text/css" />
    <link rel="author" title="About these documents" href="/about" />
    <link rel="stylesheet" href="/_static/typeahead.css" type="text/css" />
    <link rel="stylesheet" href="/_static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/_static/chart.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
  </head><body>

    <script src="/_static/jquery.js"></script>
    <!-- TODO(jelmer): Use local copy of typeahead. -->
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="/_static/moment.js"></script>
    <script src="/_static/chart.js"></script>
    <script>
var handlers = [];

registerHandler = function(kind, cb) {
  handlers.push({'kind': kind, 'callback': cb});
};

var ws_url;
window.onload = function() {
if(location.protocol == 'http:') {
    ws_url = 'ws://' + location.hostname + '/ws/notifications';
} else if(location.protocol == 'https:') {
    ws_url = 'wss://' + location.hostname + '/ws/notifications';
} else {
    console.log('Unknown protocol: ' + location.protocol);
    ws_url = undefined;
}

const connection = new WebSocket(ws_url);

connection.onerror = (error) => {
  console.log('WebSocket error: ');
  console.log(error);
}

connection.onmessage = (e) => {
  data = JSON.parse(e.data);
  handlers.forEach(function(handler) {
    if (handler.kind == data[0]) { handler.callback(data[1]); }
  });
  console.log(data);
}
}

windowbeforeunload = function(){
    socket.close();
};

// Please keep this logic in sync with janitor/site/__init__.py:format_duration
format_duration = function(n) {
   var d = moment.duration(n, "s");
   var ret = "";
   if (d.weeks() > 0) {
      return d.weeks() + "w" + (d.days() % 7) + "d";
   }
   if (d.days() > 0) {
      return d.days() + "d" + (d.hours() % 24) + "h";
   }
   if (d.hours() > 0) {
      return d.hours() + "h" + (d.minutes() % 60) + "m";
   }
   if (d.minutes() > 0) {
      return d.minutes() + "m" + (d.seconds() % 60) + "s";
   }
   return d.seconds() + "s";
};


window.chartColors = {
   red: 'rgb(255, 99, 132)',
   orange: 'rgb(255, 159, 64)',
   yellow: 'rgb(255, 205, 86)',
   green: 'rgb(75, 192, 192)',
   blue: 'rgb(54, 162, 235)',
   purple: 'rgb(153, 102, 255)',
   grey: 'rgb(201, 203, 207)'
};

    </script>
    <div class="document">
     {% block sidebar %}{% endblock %}
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">

            {% block body %}{% endblock %}

          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      &copy;2018-2020 <a href="/about">Jelmer Vernooĳ</a>.  <a href="https://salsa.debian.org/jelmer/debian-janitor/issues/new">File a bug</a>. <a href="https://salsa.debian.org/jelmer/debian-janitor">Source code</a>. Published under the GNU GPLv2 or later.
    </div>
  </body>
</html>
