{% extends "layout.html" %}
{% block sidebar %}
{% if suite == 'lintian-fixes' %}
{% include 'lintian-fixes-sidebar.html' %}
{% elif suite == 'fresh-releases' or suite == 'fresh-snapshots' %}
{% include 'new-upstream-sidebar.html' %}
{% elif suite == 'multiarch-fixes' %}
{% include 'multiarch-fixes-sidebar.html' %}
{% endif %}
{% endblock %}
{% block page_title %}Merge Proposal Status{% endblock %}
{% block body %}
<div class="section" id="merge-proposal-status">
<h1>Merge Proposal Status</h1>

<p>Merge proposal status may be out of date. It is currently refreshed every couple of hours.</p>

{% macro display_merge_proposal(url, run) %}
<a class="reference external" href="{{ url }}">{% if run %}{{ run.package }}{% else %}{{ url }}{% endif %}</a>
{% if run %}
(<a href="/{{ run.suite }}/pkg/{{ run.package }}">Details</a>)
{% endif %}
{% endmacro %}

{% if open_proposals %}
<div class="section" id="open-proposals">
<h2>Open Proposals</h2>
<p>These proposals are currently waiting for review.</p>
<ul class="simple">
{% for url, run in open_proposals %}
<li>{{ display_merge_proposal(url, run) }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if merged_proposals %}
<div class="section" id="merged-proposals">
<h2>Merged Proposals</h2>
<p>These proposals have been merged in the past.</p>
<ul class="simple">
{% for url, run in merged_proposals %}
<li>{{ display_merge_proposal(url, run) }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% if closed_proposals %}
<div class="section" id="closed-proposals">
<h2>Closed Proposals</h2>
<p>Proposals can be closed without being merged for a number of reasons - a
similar change has already been applied, the change was rejected or the change
was merged without history being referenced (i.e. in the case of a
cherry-pick.</p>
<ul class="simple">
{% for url, run in closed_proposals %}
<li>{{ display_merge_proposal(url, run) }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
</div>

{% endblock %}
